body, html {
  margin: 0;
}

canvas {
  display: block;
}

.hide {
  display: none;
}
@font-face {
  font-family: Skanaus;
  src: url("Skanaus-Display.otf") format("opentype");
}

#info {
  font-family: Skanaus;
	position: absolute;

	width: 100%;
	text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 150%;
	z-index: 100;
	display:block;
  color: #ffffff;
}